* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-text: #030e19;
  --light-text: #e9f4ff;
  --accent-color: #ffbf00;
  --light-accent: #ffd966;
  --lighter-accent: #fdedbc;
}

/* resolution breakpoints
840px 52.5em
640px 40em
384px 24em */

html {
  font-size: 62.5%;

  /* 640px */
  @media (max-width: 40em) {
    font-size: 56.25%;
  }

  /* 384px */
  @media (max-width: 24em) {
    font-size: 50%;
  }
}

body {
  margin: 0;
  min-width: 40rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(30, 144, 255);
  background: linear-gradient(
    90deg,
    rgba(30, 144, 255, 1) 0%,
    rgba(24, 115, 204, 1) 100%
  );
}

.app {
  padding: 3rem 6rem;

  /* 840px */
  @media (max-width: 52.5em) {
    padding: 2rem 1rem;
  }

  /* 640px */
  @media (max-width: 40em) {
    padding: 2rem 0.1rem;
  }
}

.app__wrap {
  margin: 3rem auto 0 auto;
  background-color: #fff;
  padding: 3rem;
  border-radius: 4rem / 5rem;
  max-width: 128rem;
}

.heading {
  font-size: 6.2rem;
  color: var(--light-text);
  text-align: center;

  & span {
    color: var(--accent-color);
    text-transform: uppercase;
  }
}

.app__top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* 840px */
  @media (max-width: 52.5em) {
    flex-direction: column;
    gap: 2rem;
  }
}

.top-fz {
  font-size: 2.4rem;
}

.top__info {
  display: flex;
  gap: 2rem;
}

.top__filters {
  display: flex;

  button {
    display: block;
  }
}

.filter__btn {
  list-style: none;
  color: var(--dark-text);
  font-size: 2.4rem;

  &:not(:last-child) {
    margin-right: 1rem;

    /* 840px */
    @media (max-width: 52.5em) {
      margin-right: 4rem;
    }

    /* 640px */
    @media (max-width: 40em) {
      margin-right: 1rem;
    }
  }

  a:link,
  a:visited {
    display: inline-block;
    border-radius: 1.6rem;
    width: 12rem;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: var(--dark-text);
    transition: all 0.3s;

    /* 840px */
    @media (max-width: 52.5em) {
      height: 4rem;
    }

    /* 640px */
    @media (max-width: 40em) {
      height: 6rem;
    }
  }

  a:hover,
  a:active {
    background-color: var(--lighter-accent);
  }

  a:link.active,
  a:visited.active,
  a:hover.active,
  a:active.active {
    background-color: var(--light-accent);
    border-color: var(--light-accent);
  }
}

.app__task-input-form {
  margin-top: 4rem;
}

.app__task-input {
  width: 85%;
  margin: 0 auto;
  display: block;
  border: none;
  outline: none;
  border-bottom: 0.1rem var(--dark-text) solid;
}

.app__tasklist {
  margin-top: 2rem;
  padding: 0 7%;
}

.tasklist__row {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.task-fz {
  font-size: 2rem;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
