* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-text: #030e19;
  --light-text: #e9f4ff;
  --accent-color: #ffbf00;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(30, 144, 255);
  background: linear-gradient(
    90deg,
    rgba(30, 144, 255, 1) 0%,
    rgba(24, 115, 204, 1) 100%
  );
}

.app {
  padding: 3rem 6rem;
}

.app__wrap {
  margin: 0 auto;
  background-color: #fff;
  padding: 3rem;
  border-radius: 4rem / 5rem;
  max-width: 128rem;
}

.heading {
  font-size: 6.2rem;
  color: var(--light-text);
  text-align: center;

  & span {
    color: var(--accent-color);
    text-transform: uppercase;
  }
}

.app__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-fz {
  font-size: 2.4rem;
}

.top__info {
  display: flex;
  gap: 2rem;
}

.top__filters {
  display: flex;

  button {
    display: block;
  }
}

.filter__btn {
  list-style: none;
  color: var(--dark-text);
  font-size: 2.4rem;

  &:not(:last-child) {
    margin-right: 1rem;
  }
}

.app__task-input-form {
  margin-top: 2rem;
}

.app__tasklist {
  margin-top: 2rem;
}

.tasklist__row {
  display: flex;
  gap: 1rem;
}

.task-fz {
  font-size: 2rem;
}
